@font-face {
    font-family: 'Simplifica';
    src: url('SIMPLIFICA Typeface.ttf');
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.display {
    font-family: "Simplifica";
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 20vh;
}

.number {
    font-size: 75px;
}

.global_name {
    font-family: "Simplifica";
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 20vh;
}